.vscode
main
src/nimgram/private/rpc
.idea
nimcache/
nimblecache/
htmldocs/
.devcontainer
nimgram-session.bin
tests/test
devshit
nimgram-database.db
nimgram-sessions.db
examples/nimgram-sessions.db
examples/raw_client
bindings/types.nim
bindings/functions.nim
bindings/lib
nimgram-session.db